# API基盤
fastapi==0.103.1
uvicorn==0.23.2
pydantic==2.10.6
pydantic-settings==2.8.1

# LangChain関連
langchain==0.3.19
langchain-community==0.3.18
langchain_openai==0.3.7
faiss-cpu==1.7.4
openai==1.65.1

# 画像生成関連
diffusers==0.26.3
transformers==4.36.1
accelerate==0.22.0
xformers==0.0.21
safetensors==0.3.3
pillow==10.0.0

# ユーティリティ
python-dotenv==1.0.0
httpx==0.24.1
torch==2.0.1
numpy==1.26.4
huggingface-hub==0.25.2

# RAGデータセット処理用
sentence-transformers==2.2.2
pandas==2.0.3
# faiss-gpu==1.7.2
datasets==2.14.5